<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Join as Guest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #guestForm="ngForm" (ngSubmit)="guestSubmit(guestForm)" novalidate>
    <ion-list>

      <!-- Name -->
      <ion-item>
        <ion-label position="stacked">Guest Name</ion-label>
        <ion-input type="text" name="guestName" required [(ngModel)]="viewModel.guestLoginRequest.guestName"
          (blur)="onBlur('guestName')" [attr.autocomplete]="'guestName'">
        </ion-input>
      </ion-item>

      @if (showError('guestName')) {
      <div class="validation">
        @if (!viewModel.guestLoginRequest.guestName || viewModel.guestLoginRequest.guestName.trim() === '') {
        <small>Name is required.</small>
        }
      </div>
      }

      <!-- Invite Key -->
      <ion-item>
        <ion-label position="stacked">Invite Key</ion-label>
        <ion-input type="text" name="inviteKey" required [(ngModel)]="viewModel.guestLoginRequest.guestKey"
          (blur)="onBlur('guestKey')" [attr.autocomplete]="'off'">
        </ion-input>
      </ion-item>

      @if (showError('guestKey')) {
      <div class="validation">
        @if (!viewModel.guestLoginRequest.guestKey || viewModel.guestLoginRequest.guestKey.trim() === '') {
        <small>Invite key is required.</small>
        }
      </div>
      }

      <ion-button expand="block" type="submit">Join</ion-button>

      <div class="links">
        <p>Already have an account?
          <a (click)="navigate('/login')">Login</a>
        </p>
      </div>

    </ion-list>
  </form>
</ion-content>