.validation {
  margin: 4px 16px 12px 16px;
}

.validation small {
  color: #c62828; /* red */
  font-size: 12px;
}

.links {
  text-align: center;
  margin-top: 16px;
}

.links a {
  cursor: pointer;
  text-decoration: underline;
}
